[Unit]
Description=The service for SolarThing Request

[Service]
TimeoutStartSec=1
ExecStart=/opt/solarthing/program/request/run.sh
User=solarthing
Group=solarthing

[Install]
WantedBy=multi-user.target
