[Unit]
Description=The service for SolarThing Rover

[Service]
TimeoutStartSec=1
ExecStart=/opt/solarthing/program/rover/run.sh

[Install]
WantedBy=multi-user.target
