[Unit]
Description=solarthing

[Service]
Restart=always
RestartSec=1
TimeoutStartSec=1
ExecStart=/opt/solarthing/program/solarthing.sh

[Install]
WantedBy=multi-user.target
