[Unit]
Description=The service for SolarThing Message

[Service]
TimeoutStartSec=1
ExecStart=/opt/solarthing/program/message/run.sh
User=solarthing
Group=solarthing

[Install]
WantedBy=multi-user.target
