[Unit]
Description=The service for SolarThing PVOutput

[Service]
TimeoutStartSec=1
ExecStart=/opt/solarthing/program/pvoutput/run.sh
User=solarthing
Group=solarthing
StandardOutput=null

[Install]
WantedBy=multi-user.target
