# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.java]
indent_style = tab
max_line_length = 180
indent_size = 4 # Although I wish I could leave this undefined, I define it so continuation_indent_size is correct
ij_continuation_indent_size = 8 # twice as much as indent_size
trim_trailing_whitespace = true

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4
