<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logPath">logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="logAll" fileName="${logPath}/log_debug.log" filePattern="${logPath}/log_debug_%d{yyyy.MM.dd}.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
        <RollingFile name="logInfo" fileName="${logPath}/log_info.log" filePattern="${logPath}/log_info_%d{yyyy.MM.dd}.log.gz" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" >
            <AppenderRef ref="Console" level="DEBUG"/>
        </Root>
        <Logger name="me.retrodaredevil.solarthing">
            <AppenderRef ref="logAll" level="DEBUG"/>
            <AppenderRef ref="logInfo" level="INFO"/>
        </Logger>
        <Logger name="org.lightcouch" level="INFO">
            <AppenderRef ref="logAll"/>
        </Logger>
        <Logger name="org.apache.http" level="INFO">
            <AppenderRef ref="logAll"/>
        </Logger>
    </Loggers>
</Configuration>
