[Unit]
Description=Keeps an ssh tunnel open to the desired SSH server

[Service]
TimeoutStartSec=1
ExecStart=/opt/ssh-forward/ssh-forward.sh
Restart=always
RestartSec=5
# https://stackoverflow.com/a/50332245/5434860 - 43200 makes it restart every 12 hours
RuntimeMaxSec=43200

[Install]
WantedBy=multi-user.target
