
/*
Thanks https://stackoverflow.com/a/48822854/5434860
We can look at that again if we want a header spanning the width of the page
 */
.page {
  display: flex;
}

.sideNav {
  height: 100vh;
  padding-top: 2em;
  width: 10em;
  background-color: #512;

  display: flex;
  flex-direction: column;
}

.main {
  height: 100vh;
  flex: 1 0 auto;
  overflow-y: auto; /* Have a scrollbar for the main div only */
}

.navLinkCurrent, .navLink {
  margin-top: 5px;
  width: 10em;
  height: 2em;
  background-color: #845;
  display: flex;
  align-items: center;
}
.navLink:hover {
  background-color: #877;
}
.navLinkCurrent {
  background-color: #666;
}
.navLinkContents {
  padding-left: 1em;
  color: #FFF;
  text-decoration: none;
}

.navFooter {
  margin-top: auto;

}
.navFooterLogin {
  height: 4em;
  width: 10em;
  display: flex;
  align-items: center;
  cursor: pointer; /* You can click this to login*/
}
.navFooterLogin:hover {
  background-color: #877;
}
.navFooterLoginContents {
  padding-left: 1em;
  color: #FFF;
}

.sourceIdSelector {
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center; /* Vertically center */
  height: 6em;
  justify-content: center; /* Horizontally center*/
  color: #FFF;
  background-color: #666;
}
.sourceIdSelector input {
  width: 8em;
}
