
.emptyDeleteSenderTd, .emptyDeleteSenderTdWidth {
  width: 2.5em;
}

.deleteSenderTd, .emptyDeleteSenderTd {
  height: 2.5em;
  /*height: 3em;*/
  padding: 0.3em;
}
.deleteSenderButtonDiv {
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 15px;
  background-color: #F33;
  border: solid 1px #000;
  cursor: pointer;
}
