
.optionSenderTd, .optionSenderTdWidth {
  width: 2.5em;
}

.optionSenderTd {
  height: 2.5em;
}
.divButtonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.deleteSenderButtonDiv {
  width: 1.7em;
  height: 1.7em;
  color: #FFF;
  font-size: 15px;
  background-color: #F33;
  border: solid 1px #000;
  cursor: pointer;
}
.addSenderButtonDiv {
  width: 1.7em;
  height: 1.7em;
  color: #FFF;
  font-size: 15px;
  background-color: #3F3;
  border: solid 1px #000;
  cursor: pointer;
}
