body, html {
  margin: 0;
  padding: 0;
}

/**:not(.graphiql-sidebar *) {*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.graphiql-container * { /* Thanks https://github.com/graphql/graphiql/issues/1812#issuecomment-922794593 */
  box-sizing: unset !important;
}

.App {
  background-color: #f2f2f2;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}
