name: Gradle Build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install npm dependencies
      run: (cd web && npm install)
    - name: Build with Gradle
      run: ./gradlew build
    - name: Integration Test
      run: ./gradlew integration
      # TODO make something that will fail if generated/graphql.ts was changed and does not match the result of web:generateCode
    - name: Web Generate Code Not Broken
      run: ./gradlew web:generateCode
